<h1>Você perguntou e nós respondemos!</h1>

<h2>Detalhes do ticket:</h2>

<ul>
  <li><b>Aluno:</b> {{ student }}</li>
  <li><b>Pergunta:</b> {{ question }} </li>
  <li><b>Gympoint responde:</b> {{ answer }}</li>
  <li><b>Nós respondemos:</b> {{ answer_at }}</li>
</ul>


<small>
  Ficamos à disposição para retirar qualquer outras dúvidas! 
  A Equipe Gympoint agradece seu contato!
</small>