<h1>Você agora faz parte da Gympoint!</h1>

<span>
  Não existe nada mais saudável do que se exercitar.
  Então não percarmos tempo! Aqui vai algumas informações
  da sua matrícula. Não vai perder em!
</span>

<ul>
  <li><strong>Plano:</strong>
      {{ plan }}
    </li>
    <li>
      <strong>Terá que ser renovado:</strong>
      {{ end_date }}
    </li>
    <li>
      <strong>Valor total:</strong>
      R${{price}}
    </li>
</ul>

<small>
<p>A Equipe Gympoint agradece sua preferência e lhe deseja boa sorte em sua nova fase!</p>
</small>