<h1>Olá, {{student}}!</h1>

<h2>Acabamos de receber o seu pedido de auxílio e em breve lhe daremos um retorno.</h2>

<h3>Segue abaixo o que recebemos:</h3>

<ul>
  <li><b> Pedido:</b> {{question}}</li>
  <li><b> Data:</b> {{date}}</li>
</ul>

<small>Sua satifasção é nossa obrigação!</small>